.packages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  place-content: center;
  gap: var(--size-4);
  padding: var(--size-fluid-3);
}
.badges {
  display: flex;
  gap: var(--size-2);
  flex-direction: column;
  align-items: start;
}
.packages_title {
  width: 100%;
  grid-column: 1/-1;
  font-size: var(--font-size-fluid-2);
  display: flex;
  gap: var(--size-2);
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
  color: var(--gray-9);
}
.packages_title h1 {
  color: inherit;
}
.packages_total {
  text-transform: capitalize;
  font-size: 0.6em;
  color: inherit;
}
